header{
    background-color: #0D0D0D;
    color: #F2F2E9;
}

.btn{
    color: #F2F2E9;
    font-size: 19px;

}

.btn:hover{
    color: #2EDFF2;

}

a:hover{
    text-decoration:none;
}

.card-hder{
    padding: 1%;
    background-color: #0D0D0D;
    color: #F2F2E9;
}
.card-text{
    padding: 0.75%;
}

body{
    background-color:#F2F2E9 ;
}

.card{
    background-color: #F2F2E9;
}

footer{
    color: #049DD9;
}